language: C
matrix:
  fast_finish: true
  include:
    - os: linux
      addons:
        apt:
          packages:
          - cmake
    - os: linux
      arch: ppc64le
      addons:
        apt:
          packages:
          - cmake
    - os: osx
      osx_image: xcode9.4
      compiler: clang
      addons:
        homebrew:
          packages:
          - cmake
          - zlib
script:
- mkdir build
- cd build
- cmake -DDEBIAN=1 -DMULTI_SEMANTICS=1 ..
- make
- make test
